#add-bat {
    font-size: 2rem;
    background: #333;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: fixed; /* Keeps it at a fixed position */
    bottom: 20px;    /* Position it at the bottom */
    right: 20px;     /* Position it on the right */
    z-index: 1000;   /* Make sure it appears on top of other elements */
}

#breeds {
    padding-top: 100px; /* Adjust the value as needed */
  }
  


  .add-bat-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .breeds-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
  
  .breeds-item {
    width: 200px;
    text-align: center;
  }
  